<div class="container">
  <div class="col-md-7 col-md-offset-3">
  <h2>新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :last_name, '姓' %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :size => "25*25" %>
        <%= f.label :first_name, '名' %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :size => "25*25" %>
      </div>

      <div class="field">
      <p>名前(カナ)</p>
        <%= f.label :last_kana_name, '姓' %>
        <%= f.text_field :last_kana_name, autofocus: true, autocomplete: "last_kana_name", :size => "25*25" %>
        <%= f.label :first_kana_name, '名' %>
        <%= f.text_field :first_kana_name, autofocus: true, autocomplete: "first_kana_name", :size => "25*25" %>
      </div>

      <div class="field">
      <%= f.label :nickname, 'アカウント名' %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", :size => "40*40" %>
      <div class="field">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "40*40" %>
      </div>

      <div class="field">
        <%= f.label :password, 'パスワード' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'パスワード(確認)' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
