    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h2>ユーザー情報</h2>
            <div class="box">
                <table class="table table-bordered" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th style="width:100px;">ユーザー画像</th>
                            <td style="width:200px;">
                            <% if @user.image? %>
                                <%= image_tag @user.image.thumb.url %>
                            <% end %></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width:100px;">アカウント名</th>
                            <td style="width:200px;"><%= @user.nickname %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <%= link_to "編集", edit_user_path(@user.id), class:'btn btn-success' %>
            <%= link_to "退会", user_path(@user.id), class:'btn btn-warning', method: :delete, "data-confirm" => "退会すると【お客様の情報が全て失われてしまいます】がよろしいですか？" %>
        </div>
        <div class="col-md-7">
            <h2>投稿写真</h2>
                <div class="box1">
                    <% @photos.each do |photo| %>
                        <div class="photo-box">
                            <%= image_tag photo.image.thumb.to_s %>
                            <div class="photo-text">
                                <%= link_to "#{photo.title}", photo_path(photo.id) %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="photos_button">
                    <%= link_to '投稿写真一覧へ', photos_user_path(@user.id), class: 'btn btn-default' %>
                </div>
        </div>
        <div class="col-md-7 col-md-offset-4">
            <h2>お気に入り写真</h2>
                <div class="favorite-box">
                        <div class="box1">
                            <% @favorites.each do |photo| %>
                                    <div class="photo-box">
                                        <%= image_tag photo.image.thumb.to_s %>
                                        <div class="photo-text">
                                            <%= link_to "#{photo.title}", photo_path(photo.id) %>
                                        </div>
                                    </div>
                            <% end %>
                        </div>
                </div>
            <div class="photos_button">
                <%= link_to 'お気に入り写真一覧へ', user_favorites_path(@user.id), class: 'btn btn-default' %>
            </div>
        </div>
    </div>
        <div class="top_button">
           <%= link_to 'トップページへ戻る', root_path, class: 'btn btn-default', data: {"turbolinks" => false} %>
        </div>
