<div class="container">
    <%= form_tag photos_path, method: :get, class: 'photos_searchForm' do %>
        <%= select_tag :tag_id,
                        options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                        {
                        prompt: 'タグで絞り込み',
                        class: 'form-control photos_select',
                        onchange: 'submit(this.form);'
                        }
        %>
    <% end %>
    <h2>写真一覧</h2>
        <% @photos.each do |photo| %>
            <div class="photo-box">
                    <%= link_to photo_path(photo.id) do %>
                        <%= image_tag photo.image.thumb.to_s %>
                    <% end %>
            </div>
        <% end %>
    <div class="paginate"><%= paginate @photos %></div>
</div>