<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="photo-image-box">
                <% if @photo.image? %>
                    <%= image_tag @photo.image.url %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tag">
            <% @photo.tags.each do |tag| %>
                <span class="badge badge-primary"><%= tag.name %></span>
            <% end %>
            </div>
            <div class="box3">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:200px;">ユーザー名</th>
                        <td><%= @photo.user.nickname %></td>
                    </tr>
                    <tr>
                        <th style="width:200px;">タイトル</th>
                        <td><%= @photo.title %></td>
                    </tr>
                    <tr>
                        <th style="width:200px;">本文</th>
                        <td><%= @photo.caption %></td>
                    </tr>
                    <tr>
                        <th style="width:200px;">撮影地</th>
                        <td><%= @photo.address %></td>
                    </tr>
                    <tr>
                        <th style="width:200px;">緯度経度</th>
                        <td class="place"><%= @photo.latitude %>,<%= @photo.longitude %></td>
                    </tr>
                </table>
                <P>※画像にexifデータを持つ場合自動で緯度経度が入力されます。</P>
            </div>
            <div class="btn-space">
                        <div class="favorite-button-<%=@photo.id %>">
                            <%= render 'favorites/favorite', photo: @photo %>
                        <% if @photo.user == current_user %>
                            <%= link_to "削除", photo_path(@photo), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除してよろしいですか？" %>
                            <%= link_to "編集", edit_photo_path(@photo), class: "btn btn-success" %>
                        <% end %>
                        </div>
            </div>
        </div>
        <div class="col-md-6">
            <input id="address" type="textbox" value="">
            <input type="button" value="Encode" onclick="codeAddress()">
            <div id="map"></div>
        </div>
    </div>
    <div class="top_button">
        <%= link_to 'トップページへ戻る', root_path, class: 'btn btn-default', data: {"turbolinks" => false} %>
    </div>
</div>