<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="photo-image-box">
                <% if @photo.image? %>
                    <%= image_tag @photo.image.url %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <th>ユーザー名</th>
                    <td><%= @photo.user.nickname %></td>
                </tr>
                <tr>
                    <th>タイトル</th>
                    <td><%= @photo.title %></td>
                </tr>
                <tr>
                    <th>本文</th>
                    <td><%= @photo.caption %></td>
                </tr>
                <tr>
                    <th>撮影地</th>
                    <td><%= @photo.latitude %>,<%= @photo.longitude %></td>
                </tr>
            </table>
            <div class="favorite_btn">
                        <div class="favorite-button-<%=@photo.id %>">
                            <%= render 'favorites/favorite', photo: @photo %>
                        </div>
            </div>
        </div>
        <div class="col-md-6">
            <input id="address" type="textbox" value="東京">
            <input type="button" value="Encode" onclick="codeAddress()">
            <div id="map"></div>
        </div>
    </div>
    <div class="top_button">
        <button class="button1"><%= link_to 'トップページへ戻る', root_path, data: {"turbolinks" => false} %></button>
    </div>
    
</div>